# Server config
PORT=4000

# Database config
DB_HOST=127.0.0.1
DB_PORT=27017
DB_NAME=six-cities
DB_USER=admin
DB_PASSWORD=test

# Security
SALT=secret-salt

# Logging
LOG_LEVEL=info

JWT_SECRET=secret
UPLOAD_DIRECTORY=/upload
